{
  "presets": [
    [ "env", {"modules": false}],
    "babel-preset-es2015",
    "babel-preset-stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        [ "env", { "targets": { "node": "current" } } ]
      ]
    }
  }
}